{% comment %}
  Renders guitar brands carousel

  Usage:
  {% section 'brands-static-carousel' %}
{% endcomment %}

{% assign image_width = 150 %}
{% assign image_height = 400 %}

{{ 'component-brands-static-carousel.css' | asset_url | stylesheet_tag }}

<h4 class="brands-static-carousel__title">{{ section.settings.title }}</h4>
<div class="brands-static-carousel">
  <div class="brands-static-carousel__container">
    {% for i in (1..13) %}
      {% assign image_key = 'brand_' | append: i | append: '_image' %}
      {% assign link_key = 'brand_' | append: i | append: '_link' %}
      {% assign image = section.settings[image_key] %}
      {% assign link = section.settings[link_key] %}

      {% if image %}
        <div class="brands-static-carousel__item">
          <a href="{{ link }}">
            {{
              image
              | image_url: width: image_width, height: image_height
              | image_tag: class: 'brands-static-carousel__image'
            }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Guitar Brands Carousel",
  "settings": [
    {
      "type": "header",
      "content": "Manage Guitar Brands"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title for the Carousel",
      "default": "Shop by Brand"
    },
    {
      "type": "image_picker",
      "id": "brand_1_image",
      "label": "Brand 1 Image"
    },
    {
      "type": "url",
      "id": "brand_1_link",
      "label": "Brand 1 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_2_image",
      "label": "Brand 2 Image"
    },
    {
      "type": "url",
      "id": "brand_2_link",
      "label": "Brand 2 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_3_image",
      "label": "Brand 3 Image"
    },
    {
      "type": "url",
      "id": "brand_3_link",
      "label": "Brand 3 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_4_image",
      "label": "Brand 4 Image"
    },
    {
      "type": "url",
      "id": "brand_4_link",
      "label": "Brand 4 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_5_image",
      "label": "Brand 5 Image"
    },
    {
      "type": "url",
      "id": "brand_5_link",
      "label": "Brand 5 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_6_image",
      "label": "Brand 6 Image"
    },
    {
      "type": "url",
      "id": "brand_6_link",
      "label": "Brand 6 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_7_image",
      "label": "Brand 7 Image"
    },
    {
      "type": "url",
      "id": "brand_7_link",
      "label": "Brand 7 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_8_image",
      "label": "Brand 8 Image"
    },
    {
      "type": "url",
      "id": "brand_8_link",
      "label": "Brand 8 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_9_image",
      "label": "Brand 9 Image"
    },
    {
      "type": "url",
      "id": "brand_9_link",
      "label": "Brand 9 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_10_image",
      "label": "Brand 10 Image"
    },
    {
      "type": "url",
      "id": "brand_10_link",
      "label": "Brand 10 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_11_image",
      "label": "Brand 11 Image"
    },
    {
      "type": "url",
      "id": "brand_11_link",
      "label": "Brand 11 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_12_image",
      "label": "Brand 12 Image"
    },
    {
      "type": "url",
      "id": "brand_12_link",
      "label": "Brand 12 Link"
    },
    {
      "type": "image_picker",
      "id": "brand_13_image",
      "label": "Brand 13 Image"
    },
    {
      "type": "url",
      "id": "brand_13_link",
      "label": "Brand 13 Link"
    }
  ],
  "presets": [
    {
      "name": "Guitar Brands Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
