<div class="top-bar">
  <div class="top-bar-container">
    <div class="topbar-items topbar-left">
      <ul class="social-icons top-bar-social-icons">
        <li>
          <a
            href="#"
            target="_blank"
            title="facebook"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            title="instagram"
            >Instagram</a
          >
        </li>
      </ul>
      <ul class="top-bar-menu">
        <li id="#" class="">
          <a href="">Support</a>
        </li>
      </ul>
    </div>
    <div class="topbar-items topbar-right">
      <div class="top-bar-text">(11) 1111-1111</div>
    </div>
  </div>
</div>
