.brands-carousel,
.brands-carousel p.no-image-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-carousel__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 40px 25px;
  padding: 25px;
}

.brands-carousel__item {
  margin: 0 10px;
}

.brands-carousel__title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
  margin: 15px;
  padding: 15px;
  text-decoration: underline;
}