.product-carousel {
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin: 50px auto;
  overflow: hidden;
}

.carousel-container, .carousel-items {
  display: flex;
}

.carousel-items {
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.price {
  font-size: 1.2em;
  color: #333;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  z-index: 1;
  color: aliceblue;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.products-carousel__title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
  margin: 50px auto;
  padding: 15px;
  text-decoration: unset;
}

@media (max-width: 768px) {
  .carousel-item {
    min-width: 200px;
  }
}

